mobsters-functional/domain/src/main/model/MobstersPlayerXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:player="com.lvl6.mobsters.domainmodel.player" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="com.lvl6.mobsters.domainmodel.player">
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:simpleType name="MonsterType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="REGULAR"/>
      <xsd:enumeration value="MINI_BOSS"/>
      <xsd:enumeration value="BOSS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ElementType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="NO_ELEMENT"/>
      <xsd:enumeration value="FIRE"/>
      <xsd:enumeration value="EARTH"/>
      <xsd:enumeration value="WATER"/>
      <xsd:enumeration value="ROCK"/>
      <xsd:enumeration value="LIGHT"/>
      <xsd:enumeration value="DARK"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="Director">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="Director" type="player:Director"/>
  <xsd:complexType abstract="true" name="Player">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="Player" type="player:Player"/>
  <xsd:complexType name="PlayerInternal">
    <xsd:complexContent>
      <xsd:extension base="player:Player">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="userData" type="player:UserDataInternal"/>
          <xsd:element name="ongoingTask" type="player:OngoingTaskInternal"/>
          <xsd:element name="completedTasks" type="player:CompletedTaskInternal"/>
          <xsd:element name="items" type="player:ItemInternal"/>
          <xsd:element name="monsters" type="player:MonsterInternal"/>
          <xsd:element name="teamSlots" type="player:MonsterInternal"/>
          <xsd:element name="pendingOperations" type="player:PendingOperationInternal"/>
        </xsd:choice>
        <xsd:attribute name="userUuid" type="xsd:string"/>
        <xsd:attribute name="gems" type="xsd:int"/>
        <xsd:attribute name="cash" type="xsd:int"/>
        <xsd:attribute name="oil" type="xsd:int"/>
        <xsd:attribute name="experience" type="xsd:int"/>
        <xsd:attribute name="teamSlots" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PlayerInternal" type="player:PlayerInternal"/>
  <xsd:complexType abstract="true" name="UserData">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="UserData" type="player:UserData"/>
  <xsd:complexType name="UserDataInternal">
    <xsd:complexContent>
      <xsd:extension base="player:UserData">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="player" type="player:PlayerInternal"/>
        </xsd:choice>
        <xsd:attribute name="udidForHistory" type="xsd:string"/>
        <xsd:attribute name="deviceToken" type="xsd:string"/>
        <xsd:attribute name="fbIdSetOnUserCreate" type="xsd:boolean"/>
        <xsd:attribute name="gameCenterId" type="xsd:string"/>
        <xsd:attribute name="avatarMonsterMeta" type="xsd:string"/>
        <xsd:attribute name="lastLogin" type="xsd:string"/>
        <xsd:attribute name="lastLogout" type="xsd:string"/>
        <xsd:attribute name="createTime" type="xsd:string"/>
        <xsd:attribute name="lastObstacleSpawnTime" type="xsd:string"/>
        <xsd:attribute name="lastMiniJobGeneratedTime" type="xsd:string"/>
        <xsd:attribute name="player" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="UserDataInternal" type="player:UserDataInternal"/>
  <xsd:complexType abstract="true" name="OngoingTask">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="OngoingTask" type="player:OngoingTask"/>
  <xsd:complexType name="OngoingTaskInternal">
    <xsd:complexContent>
      <xsd:extension base="player:OngoingTask">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="player" type="player:PlayerInternal"/>
          <xsd:element name="stages" type="player:TaskStageInternal"/>
        </xsd:choice>
        <xsd:attribute name="taskUuid" type="xsd:string"/>
        <xsd:attribute name="taskMeta" type="xsd:string"/>
        <xsd:attribute name="player" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OngoingTaskInternal" type="player:OngoingTaskInternal"/>
  <xsd:complexType abstract="true" name="TaskStage">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="TaskStage" type="player:TaskStage"/>
  <xsd:complexType name="TaskStageInternal">
    <xsd:complexContent>
      <xsd:extension base="player:TaskStage">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="task" type="player:OngoingTaskInternal"/>
        </xsd:choice>
        <xsd:attribute name="taskStageUuid" type="xsd:string"/>
        <xsd:attribute name="taskStage" type="xsd:string"/>
        <xsd:attribute name="stageNum" type="xsd:int"/>
        <xsd:attribute name="taskStageMonster" type="xsd:string"/>
        <xsd:attribute name="monsterPieceDropped" type="xsd:boolean"/>
        <xsd:attribute name="itemDropped" type="xsd:string"/>
        <xsd:attribute name="expGained" type="xsd:int"/>
        <xsd:attribute name="cashGained" type="xsd:int"/>
        <xsd:attribute name="oilGained" type="xsd:int"/>
        <xsd:attribute name="task" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TaskStageInternal" type="player:TaskStageInternal"/>
  <xsd:complexType abstract="true" name="BeginTaskStagesBuilder">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="BeginTaskStagesBuilder" type="player:BeginTaskStagesBuilder"/>
  <xsd:complexType name="BeginTaskStagesBuilderInternal">
    <xsd:complexContent>
      <xsd:extension base="player:BeginTaskStagesBuilder">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="newArtifact" type="player:OngoingTaskInternal"/>
          <xsd:element name="player" type="player:PlayerInternal"/>
        </xsd:choice>
        <xsd:attribute name="newArtifact" type="xsd:string"/>
        <xsd:attribute name="player" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BeginTaskStagesBuilderInternal" type="player:BeginTaskStagesBuilderInternal"/>
  <xsd:complexType abstract="true" name="CompletedTask">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="CompletedTask" type="player:CompletedTask"/>
  <xsd:complexType name="CompletedTaskInternal">
    <xsd:complexContent>
      <xsd:extension base="player:CompletedTask">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="player" type="player:PlayerInternal"/>
        </xsd:choice>
        <xsd:attribute name="taskMeta" type="xsd:string"/>
        <xsd:attribute name="timeOfEntry" type="xsd:string"/>
        <xsd:attribute name="player" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CompletedTaskInternal" type="player:CompletedTaskInternal"/>
  <xsd:complexType abstract="true" name="Monster">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="Monster" type="player:Monster"/>
  <xsd:complexType name="MonsterInternal">
    <xsd:complexContent>
      <xsd:extension base="player:Monster">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="player" type="player:PlayerInternal"/>
        </xsd:choice>
        <xsd:attribute name="monsterUuid" type="xsd:string"/>
        <xsd:attribute name="monsterMeta" type="xsd:string"/>
        <xsd:attribute name="currentExp" type="xsd:int"/>
        <xsd:attribute name="currentLvl" type="xsd:int"/>
        <xsd:attribute name="currentHealth" type="xsd:int"/>
        <xsd:attribute name="numPieces" type="xsd:int"/>
        <xsd:attribute name="isComplete" type="xsd:boolean"/>
        <xsd:attribute name="combineStartTime" type="xsd:string"/>
        <xsd:attribute name="teamSlotNum" type="xsd:int"/>
        <xsd:attribute name="restricted" type="xsd:boolean"/>
        <xsd:attribute name="player" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MonsterInternal" type="player:MonsterInternal"/>
  <xsd:complexType abstract="true" name="Item">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="Item" type="player:Item"/>
  <xsd:complexType name="ItemInternal">
    <xsd:complexContent>
      <xsd:extension base="player:Item">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="player" type="player:PlayerInternal"/>
        </xsd:choice>
        <xsd:attribute name="itemUuid" type="xsd:string"/>
        <xsd:attribute name="itemMeta" type="xsd:string"/>
        <xsd:attribute name="player" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ItemInternal" type="player:ItemInternal"/>
  <xsd:complexType abstract="true" name="PendingOperation">
    <xsd:annotation>
      <xsd:documentation>class Quest{

}

class QuestJob {
	IQuestJob questJobMeta;

	private boolean isComplete;
	private int progress;

}

class BoosterPackHistory

class BoosterPackItemHistory

class EventPersistentForUser

class IapHistory // A Transaction

class IapItem // A line item.  Related to Item?

class MiniJobOngoing

class MiniJobCompleted

class MonsterHealingHistory

class Obstacle

class Structure

class Hospital

class Laboratory

class MiniJob

class Residence

class ResourceGenrator

class ResourceStoreage

class TeamCenter

class TownHall

class TaskStageHistory // ????</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="PendingOperation" type="player:PendingOperation">
    <xsd:annotation>
      <xsd:documentation>class Quest{

}

class QuestJob {
	IQuestJob questJobMeta;

	private boolean isComplete;
	private int progress;

}

class BoosterPackHistory

class BoosterPackItemHistory

class EventPersistentForUser

class IapHistory // A Transaction

class IapItem // A line item.  Related to Item?

class MiniJobOngoing

class MiniJobCompleted

class MonsterHealingHistory

class Obstacle

class Structure

class Hospital

class Laboratory

class MiniJob

class Residence

class ResourceGenrator

class ResourceStoreage

class TeamCenter

class TownHall

class TaskStageHistory // ????</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="true" name="PendingOperationInternal">
    <xsd:complexContent>
      <xsd:extension base="player:PendingOperation">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="player" type="player:PlayerInternal"/>
        </xsd:choice>
        <xsd:attribute name="opStartTimer" type="xsd:string"/>
        <xsd:attribute name="opEndTimer" type="xsd:string"/>
        <xsd:attribute name="player" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PendingOperationInternal" type="player:PendingOperationInternal"/>
  <xsd:complexType name="CombineMonsterPiecesInternal">
    <xsd:complexContent>
      <xsd:extension base="player:PendingOperationInternal">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="newMonster" type="player:MonsterInternal"/>
        </xsd:choice>
        <xsd:attribute name="newMonster" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CombineMonsterPiecesInternal" type="player:CombineMonsterPiecesInternal"/>
</xsd:schema>
